<script setup lang="ts">
import FancyButton from "@/components/icons/FancyButton.vue";
import { mdiHandHeartOutline } from "@mdi/js";
import { mdiCursorDefaultClickOutline } from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <FancyButton
          ><v-icon :icon="mdiHandHeartOutline" />LOVE ME
          <template v-slot:tail> Tail </template></FancyButton
        >
      </v-col>
      <v-col>
        <FancyButton
          ><v-icon :icon="mdiCursorDefaultClickOutline" />CLICK ME
          <template #tail> My Tail </template></FancyButton
        >
      </v-col>
    </v-row>
  </v-container>
</template>
